.footer-section {
  background: #18053e;
  padding: 20px 0;
}

.footer-cta {
  margin-top: 50px;
  padding-bottom: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info .single-cta {
  margin-bottom: 10px;
  width: 45%;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.cta-text {
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cta-text span {
  color: #969595;
  font-size: 15px;
}

.footer-content {
  width: 45%;
  color: #fff;
  padding-left: 50px;
}

.map-container {
  margin-top: 10px;
}

.copyright-area {
  background: #18053e;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.paramg {
  width: 45%;
  display: flex;
  flex-direction: column;
 
}

.icony {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.full-cta {
  width: 50%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.footer-widget-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsive Styling */
@media (max-width: 992px) {
  .footer-content, .paramg {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-info .single-cta {
    width: 45%;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .full-cta{
    flex-direction: row;
}
  .contact-info .single-cta {
    width: 100%;
    text-align: left;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  
  .cta-text h4 {
    font-size: 18px;
  }

  .cta-text span {
    font-size: 14px;
  }
  .full-cta{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .map-container iframe {
    width: 100%;
    height: 250px;
  }
  .footer-cta{
    margin-top: 10px;
  }
}
